@{
    ViewData["Title"] = "Test Controller";
}
<h1>@ViewData["Title"]</h1>

<p>@ViewData["Message"]</p>

<ul>
    <li><a asp-action="Index">Index</a></li>
    <li><a asp-action="ItemsJS">ItemsJS</a></li>
    <li><a asp-action="XPath">XPath</a></li>
</ul>


<p>.</p>
