@{
    ViewData["Title"] = "Info";
}
<h1>@ViewData["Title"]</h1>

<p>You must be logged in with "Administrator" privileges to see this.</p>


<p>ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</p>
