@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewData["Title"]</h1>

<p>WELCOME</p>

<ul>
    <li><a asp-controller="Item" asp-action="Index">Items</a></li>
    <li><a asp-controller="Template" asp-action="Index">Templates</a></li>
    <li><a asp-controller="Content" asp-action="Index">Content</a></li>
    <li><a asp-controller="Admin" asp-action="Index">Admin</a> [Authorize]</li>
    <li><a asp-controller="Test" asp-action="Index">Test</a></li>
</ul>


<p>.</p>
